
  <div id="<%= dom_id recipe %>" class = "recipe-show-container">
    <h2 class = 'title'>
      <%= recipe.name %>
    </h2>

    <div class ="recipe-data">
      <div class = "recipe-info">
        <p>
          <strong>Preparation time:</strong>
          <%= "#{recipe.preparation_time} minutes" %>
        </p>

        <p>
          <strong>Cooking time:</strong>
          <%= "#{recipe.cooking_time} minutes" %>
        </p>

      </div>

      <p>
        <strong><%= recipe.public? ? 'PUBLIC' : 'PRIVATE'%></strong>
      </p>
    </div>
        <p>
          <strong>Description:</strong>
          <%= recipe.description %>
        </p>
  </div>
