<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<%= link_to "New recipe", new_recipe_path %>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%# <%= render recipe %>
      <div class="recipe-container">
        <div class="recipe-title">
          <%= link_to recipe_path(recipe) do %>
            <h3><%= recipe[:name] %></h3>
          <% end %> 
          <%= button_to "Destroy this recipe", recipe, method: :delete %>
        </div>
        <div class="recipe-description-container">
          <p>
            <%= recipe[:description] %>
          </p>
        </div>
      </div>
  <% end %>
</div>

